@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Fira+Code&family=Montserrat:wght@900&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --background: black;
  --primary: #606470;
  --secondary: #93DEFF;
  --error: #E33E5A;
  --success: #3AAFA9;
  --warning: #FFCB00;
  --text: #FFFFFF;

  --headerFont: 'Montserrat', sans-serif;
  --textFont: 'Courier Prime', monospace;
  --codeFont: 'Fira Code', monospace;
  --footerHeight: 50px;
}

/* mobile */
@media screen and (max-width: 768px) {
  :root {
    --footerHeight: 40px;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  overflow: hidden;
  background-color: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}